# Compiled Binaries
main
memo
c-taskmanager
learnC
*.out
a.out

# Object Files and Libraries
*.o
*.so
*.a

# Debugger Files
*.dSYM/
gmon.out

# IDE and System Files
.vscode/
.idea/
.DS_Store
*~
*.swp
